<script>
    gtag('event', 'show_certificate', {
        'brand': "{{data.brandCode}}",
        'id': "{{data.thumbprint}}",
        'sku': "{{data.stockKeepingUnitCode}}",
        'game': "{{data.platformCode}}"
    });

    function didLoadImage() {
        const imageElement = document.querySelector('.cert-image');
        const toastElement = document.querySelector('.toast-success');

        imageElement.classList.remove('hidden');
        imageElement.classList.add('visible');

        setTimeout(function () {
            toastElement.classList.remove('visible');
            toastElement.classList.add('no-opacity');
        }, 5000);
    }
</script>

<div class="cert-page">
    <div class="wrapper" style="padding: 10px">
        <div class="toast-success fade-out {{showToast}}">
            <span>{{toast}}</span>
        </div>
        <div>
            {{#if showUnboxing}}
            <h1>Flashy Unboxing</h1>
            {{/if}}
        </div>
        <div class="cert-image-wrapper">
            <div class="cert-image no-opacity">
                <img src="/img/cert/{{thumbprint}}"
                    style="max-width: {{width}}px; width: 100%; height: auto;"
                    onload="didLoadImage()"
                />
            </div>
        </div>
        <div>
            <h1>Calls to Action</h1>
        </div>
    </div>
</div>
