<script>
    gtag('event', 'show_certificate', {
        'brand': "{{data.brandCode}}",
        'id': "{{data.thumbprint}}",
        'sku': "{{data.stockKeepingUnitCode}}",
        'game': "{{data.platformCode}}"
    });

    function didLoadImage() {
        const imageElement = document.querySelector('.cert-image');
        const toastElement = document.querySelector('.toast-success');

        imageElement.classList.remove('no-opacity');
        imageElement.classList.add('visible');

        setTimeout(function () {
            toastElement.classList.remove('visible');
            toastElement.classList.add('no-opacity');
        }, 5000);
    }

    function goToWallet() {
        window.open(
            {{data.sknappUrl}},
            '_blank'
        );
    }
</script>

<div class="cert-page">
    <div class="wrapper" style="padding: 10px">
        <div class="toast-success fade-out {{showToast}}">
            <span>{{toast}}</span>
        </div>
        <div class="cert-image-wrapper">
            <div class="cert-image no-opacity">
                <img src="/img/cert/{{data.thumbprint}}"
                    style="max-width: {{width}}px; width: 100%; height: auto;"
                    alt="{{data.stockKeepingUnitName}}"
                    onload="didLoadImage()"
                />
            </div>
        </div>
    </div>
    <div class="d-flex" style="justify-content: center; align-items: center; position: fixed; bottom:10%; width: 100%">
        {{#if showCTA}}
                <button id="flexBtn" type="submit" class="btn btn-skn btn-lg" onclick="goToWallet()">Go to Wallet</button>
        {{/if}}
    </div>
</div>
