<div class="wrapper">
    <div class="empty">
        <div class="img">
            <img src="/img/{{data.id}}/img/default/cert.png" width="{{width}}" height="{{height}}" alt="{{data.handle}} {{data.skuname}}" />
        </div>
    </div>
</div>
