<div class="wrapper">
    <div class="empty">
        <div class="img">
            <img src="/img/{{data.thumbprint}}/img/default/cert.png" width="{{width}}"
                 alt="{{data.stockKeepingUnitName}}"/>
        </div>
    </div>
</div>

<script>
    gtag('event', 'show_certificate', {
        'brand': "{{data.brandCode}}",
        'id': "{{data.thumbprint}}",
        'sku': "{{data.stockKeepingUnitCode}}",
        'game': "{{data.platformCode}}"
    })
</script>
